main {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h3 {
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD

.contact-us {
  background-color: azure;
  border: 1px solid #ccc;
  padding: 20px 10px;
  width: 300px;
  min-width: 50%;
  border-radius: 4px;
  margin: 80px auto;
}

.face-icon {
  margin-right: 10px;
}
=======
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
>>>>>>> 50c1c885e190ae281c7a1a38fc7c404e85329ae5
