body {
  font-family: "Cairo", sans-serif;
}

main {
  min-height: 80vh;
}

.heading_1 {
  color: #202020;
}

.btn_color {
  background-color: #418993 !important;
  color: #fff !important;
  transition: 0.3s all ease-in-out;
}

.btn_color:hover {
  background-color: #418993 !important;
  opacity: 0.8;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #418993;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
  /* color: #418993; */
}

.rating span {
  margin: 0.1rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h3 {
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-shopping-cart {
  font-size: 23px;
}

.face-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.fa-globe-africa {
  font-size: 18px;
  color: gray;
}

.fa-globe-africa:hover {
  color: #444;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

.carousel_img_main {
  height: 105vh;
}

.h3_color {
  color: "#418993";
}

.contact_link {
  text-decoration: none;
  font-size: 1.3rem;
}

.butn_cart {
  position: relative;
  left: 100px;
}

.contact_link:hover {
  color: #202020 !important;
}

.contact-us {
  border: 0.5px solid #ccc;
  padding: 20px 10px;
  width: 300px;
  min-width: 50%;
  border-radius: 4px;
  margin: 80px auto;
}

footer {
  background: #f8f8f8;
  border-top: 1px solid #d6d5d5;
  color: #202020;
  padding-top: 30px;
  margin-top: 30px;
}

.blackiconcolor {
  color: #555;
}

@media (max-width: 306px) {
  .navbar {
    flex-direction: column !important;
  }
}

@media (max-width: 450px) {
  #search_box {
    width: 150px !important;
  }

  .logo_img {
    width: 120px !important;
  }
}

@media (min-width: 1020px) {
  #search_box {
    width: 200px !important;
  }
}

@media (max-width: 991px) {
  .main_icons {
    flex-direction: row-reverse !important;
    gap: 1rem;
  }
}

/* ++++++ SCROLL BAR +++++++ */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #418993;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: teal;
}
