main {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.big_head {
  color: #000 !important;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h3 {
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-us {
  border: .5px solid #ccc;
  padding: 20px 10px;
  width: 300px;
  min-width: 50%;
  border-radius: 4px;
  margin: 80px auto;
}

.face-icon {
  margin-right: 10px;
  margin-left: 10px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}




@media (max-width: 900px) {

  /* }
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 5 20px;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 0.5px solid lightslategrey;
  }
}
#cartLink {
  padding: 5 20px;
  border-right: 0.5px solid lightslategrey; */
}

/* #CatNavUl {
  --bs-scroll-height: 100px;
} */
.h3_color {
  color: "#418993"
}

.search_icon {
  top: 18px;
  right: 16px;
  cursor: pointer;
  opacity: .8;
  font-size: 20px;
}

.contact_link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

.butn_cart {
  position: relative;
  left: 100px;
}

.contact_link:hover {
  color: antiquewhite !important;
}

.fa-shopping-cart {
  font-size: 23px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

/* 
.basic-nav-dropdown {
  transition: .5s all ease-in-out;
} */
/* .basic-nav-dropdown:hover  */


@media (max-width :540px) {
  #search_box {
    width: 200px !important
  }
}


@media (min-width :1020px) {
  #search_box {
    width: 200px !important
  }
}