.pimg{
  width: 875px; height: 800px;

}
.title{
    font-size: 34px;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 36px;
}

.button{
    border: 1px solid black;

}
.pricing{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: initial;
    font-weight: 400;
    margin-bottom: 25px;
}
.desc{
    color: #607081;
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 25px;
}